body, a, h1{
	color: white;
}

h5{
	color: 
}

a{
	border-bottom: 1px dashed #DECDB9;
}

a:hover{
	color: #FE728C /*#DECDB9*/;
}


body {
	background-color: black;
}

ul{
	list-style-type: none;
	padding-left: 10px;
	font-family: "Roboto Slab",Helvetica,Arial,sans-serif;
	text-align: center;
}

ul li{
	display: inline;
	padding: 0.1em 0.5em;
}

.container{
	max-width: 720px;
}

blockquote{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 3px 32px;
	font-size: 1.0em;
}


@media(min-height:850px){
	#me{
		margin-left: auto;
		margin-right: auto;
		max-height:500px;
		max-width:500px;
	}
	body{
		margin-top: 50px;
	}
}

@media(max-height:850px){
	#me{
		margin-left: auto;
		margin-right: auto;
		max-height:320px;
		max-width:320px;
	}
	body{
		margin-top: 25px;
	}
}
