---
layout: default
title: Computable(verse);
---

	<!-- This loops through the paginated posts -->
	{% for post in paginator.posts %}
	<div class="myFrame">
		<h1 class="text-center"><a href="{{ post.url }}" class="myBlack">{{ post.title }}</a></h1>
		<p class="author">
			<span class="date myGray">{{ post.date | date_to_string }}</span>
		</p>
		<div class="content container">
			{% if post.content contains '<!--more-->' %}
  				{{ post.content | split:'<!--more-->' | first }}
  				<div class="text-center">
  				<a href="{{ post.url }}">Read more...</a>
  				</div>
			{% else %}
  				{{ post.content }}
			{% endif %}
			<!--a href="{{ post.url }}#disqus_thread"></a-->
		</div>
	</div>
		<!--hr class="myBorder" /-->
	{% endfor %}

	<!-- Pagination links -->
	<div class="pagination container">
		<div class="row">
			<div class="col-xs-4 text-left">
			{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path }}" class="previous myGreen">Previous</a>
			{% else %}
				<span class="previous myGray">Previous</span>
			{% endif %}
			</div>
			<div class="col-xs-4 text-center">
				<span class="page_number myGray">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
			</div>
			<div class="col-xs-4 text-right">
			{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path }}" class="next myGreen">Next</a>
			{% else %}
				<span class="next myGray">Next</span>
			{% endif %}
			</div>
		</div>
	</div>
